@font-face {
  font-family: Gameplay;
  src: url("../fonts/Gameplay.ttf");
}

html,
body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Gameplay, serif;
  font-size: 16pt;
  font-weight: bold;

  height: 100%;
  letter-spacing: 1.5px;
}

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box img {
  width: 100%;
}

.box-header {
  height: 40%;
}

.box-header img {
  width: 40%;
}

.box-countdown {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.countdown {
  opacity: 0.8;
  border: 1px solid goldenrod;
  width: 50%;
  padding: 2rem;
  justify-content: center;
  background-color: #fff;
  border-radius: 40px;
  margin-top: -3rem;
}

.countdown #header {
  width: 80%;
  margin: 0px auto;
}

.countdown #timer {
  width: 70%;
  margin: 0px auto;
}

.countdown #header * {
  margin-bottom: 1.5rem;
}

.countdown #header h1 {
  font-size: 1.5rem;
}
.countdown #header h2 {
  font-size: 1.2rem;
}
.countdown #header p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.countdown #timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countdown #timer .timer-box {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  width: 20%;
  padding: 1rem 0rem;
  
  border: 1px solid #000;
  border-radius: 10px;

}

.countdown #timer .timer-box p {
  flex: 1;
}

.countdown #timer .timer-box p:first-of-type {
  margin: 0px auto;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0.589rem;
}

.countdown #timer .timer-box p:last-of-type {
  font-size: .75rem;
}

#hero img {
  width: 600px;

  position: absolute;
  bottom: 0;
  left: 0;
}

#villain img {
  width: 550px;

  position: absolute;
  bottom: 0;
  right: 0;
}
.box-social {
  margin-top: 1.2rem;
  /* padding: 30px; */

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.box-social div {
  width: 50px;
  margin-left: 1rem;
}

.box-social img {
  flex: 1;
}

.box-credit {
  text-align: center;
  font-size: .5rem;
  padding: .5rem;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .box-header img {
    margin-top: -8rem;
    margin-bottom: 0;
    width: 70%;
  }

  #hero img {
    width: 350px;
    bottom: 100px;
  }

  #villain img {
    width: 300px;
    bottom: 100px;
  }

  .box-countdown {
    margin-top: -20rem;
  }

  .countdown {
    width: 70%;
  }

  .countdown #header,
  .countdown #timer {
    width: 100%;
    margin: 0px auto;
  }

  .countdown #header * {
    margin-bottom: 0.5rem;
  }

  .countdown #header h1 {
    font-size: 1.2rem;
  }
  .countdown #header h2 {
    font-size: 1rem;
  }
  .countdown #header p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .countdown #timer .timer-box p:first-of-type {
    font-size: 1.89rem;
    font-weight: bolder;
  }
  .countdown #timer .timer-box p:last-of-type {
    font-size: 0.8rem;
  }
}

/* Smartphones XL (portrait) ----------- */
@media only screen and (max-width: 450px) {
  .box-header img {
    margin-top: -6rem;
    width: 70%;
  }

  #hero img {
    width: 180px;
    bottom: 100px;
  }

  #villain img {
    width: 150px;
    bottom: 100px;
  }

  .countdown {
    width: 80%;
    padding: 1rem 0.5rem;
    margin-top: -12rem;
    border-radius: 20px;
  }

  .countdown #header,
  .countdown #timer {
    width: 100%;
    margin: 0px auto;
  }

  .countdown #header * {
    margin-bottom: 0.4rem;
  }

  .countdown #header h1 {
    font-size: 0.6rem;
  }
  .countdown #header h2 {
    font-size: 0.6rem;
  }
  .countdown #header p {
    font-size: 0.6rem;
    /* margin-bottom: 1rem; */
  }
  .countdown #timer .timer-box p:first-of-type {
    font-size: 1rem;
  }
  .countdown #timer .timer-box p:last-of-type {
    font-size: 0.4rem;
  }

  .box-credit p {
    font-size: 0.4rem;
  }

}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
